*~
*.log

.eggs
#.xml
.DS_Store
__pycache__
.pytest_cache
notes
readme_converted.rst
.*.swp
*.pdf
*.patch
*.png
*.gv
*.pickle
*.pkl
*.gpg
*.tar
*.gz
*.ps
*.shlv
*.dat
*.inp
*.msg
*.out
*.html
*.csv
mytags
createtags
*.plt
video*
.idea
pylintrc
cortix/docs/_build
.cache/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Cortix save directory
.ctx-saved/

# Coverage files
.coverage
coverage.xml
