*~
.DS_Store
__pycache__
notes
.*.swp
*.pdf
*.patch
*.gpg
*.tar
*.gz
*.xml
*.ps
*.shlv
*.png
*.dat
*.inp
*.msg
*.out
*.html
*.csv
mytags
createtags
*.plt
support/actor
video*
record*
.idea
pylintrc
docs/_build
docs/*_rst
docs/readme_converted.rst
