*~
.DS_Store
__pycache__
.pytest_cache
notes
.*.swp
*.pdf
*.patch
*.gpg
*.tar
*.gz
*.xml
*.ps
*.shlv
*.dat
*.inp
*.msg
*.out
*.html
*.csv
mytags
createtags
*.plt
video*
record*
.idea
pylintrc
docs/_build
.cache/
