include cortix/examples/input/*
include cortix/tests/input/*
include cortix/examples/modulib/wind/manifest.xml
include cortix/examples/modulib/droplet/manifest.xml
include cortix/modulib/pyplot/manifest.xml
